
 H2, H3 {
	color : #C96E28;

}

#logoContainer{
	float:left;
	height : 100px;
	width : 200px;
}

#logoContainer a {
  height : 100%;
  width : 100%;
}

#logoContainer img {
  height : 100%;
  width : 100%;
  box-shadow: 8px 8px 12px #aaa;
  border-radius: 4px; /* propriété CSS3 */
  -moz-border-radius: 4px; /* compatibilité avec Firefox */
  -webkit-border-radius: 4px; /* compatibilité avec les navigateurs Webkit */
}

#textHeader H1{
  text-align: center;
  font-size: 30px;
}








