.message
{
	padding: 5px 5px 5px 5px;
}

.username
{
	font-weight: strong;
	color: #0f0;
}

.msgContainerDiv
{
	font-size: 0.9em;
	overflow-y: auto;
	margin-top: -15px;
	margin-bottom: -15px;
}

#userlist
{
	overflow-y: scroll;
	text-align: center;
}

#settings
{
	overflow-y: scroll;
	text-align: center;
}

#pageTemps{
    background: -moz-linear-gradient(#666666, #222222) repeat scroll 0 0 #222222;
    background: -webkit-linear-gradient(#666666, #222222) repeat scroll 0 0 #222222;
    background: -o-linear-gradient(#666666, #222222) repeat scroll 0 0 #222222;
    background: linear-gradient(#666666, #222222) repeat scroll 0 0 #222222;
}
