body{
	font-family: Arial, sans-serif;
	width: 80%;
	margin: auto;
}

#back{
	display: none;
}

header{
	margin-left: 30px;
	height: 158px;
}
header img{
	float: left;
}
header span.title{
	float: right;
	line-height: 158px;
	padding-right: 200px;
	color: #304390;
	font-weight: normal;
	font-size: 50px;
	font-family: Myriad Pro;
}
header a{
	text-decoration: none;
}

ul.mainmenumob, ul.authormenu, ul.authorlist, ul.postermenu{
	display: none;
}

ul.mainmenu{
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	width: 100%;
	border: 1px solid #c7c7c7;
	margin-bottom: 50px;
}

ul.mainmenu li{
	float: left;
	margin-right: 20px;
}

ul.mainmenu li a{
	text-decoration: none;
	text-align: center;
	color: #000;
	height: 40px;
	line-height: 40px;
	display: block;
	padding: 0px 20px 0px 20px;
}
ul.mainmenu li a:active, ul.mainmenu li a:hover{
	background-color: #5ea2da;
	color: #FFF;
}

ul.mainmenu li span{
	display: none;
	float: left;
	position: absolute;
	top: 40px;
	left: 0;
	border: 1px solid #c7c7c7;
}
ul.mainmenu li span a{
	display: inline-block;
	line-height: 40px;
}

ul.mainmenu li:hover span{
	display: block;
}

#content{
	display: block;
	width: 100%;
}

aside{
	float: right;	
	text-align: center;
	position: relative;
	width: 20%;
}
aside a{
	text-decoration: none;
	color: #000;
	width: 100%;
	display: block;
	border: 2px solid #eba000;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#ffcf69));
	line-height: 50px;
}
aside a:hover{
	text-decoration: underline;
	color: #eba000;
}


footer{
	float: left;
	display: block;
	width: 100%;
	margin-bottom: 20px;
}
ul.foot{
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	width: 100%;
	border: 2px solid #5ea2da;
}
ul.foot li{
	display: inline;
	margin-right: 20px;
}
ul.foot li a{
	color: #5ea2da;
	text-decoration: none;
	text-align: center;
	height: 40px;
	line-height: 40px;
	padding: 0px 20px 0px 20px;
}
ul.foot a:hover{
	text-decoration: underline;
}

#container{
	float: left;
	margin-bottom: 20px;
	position: relative;
	width: 75%;
	border: 2px solid #de1981;
	padding-left: 20px;
	padding-bottom: 10px;
}
#container h2{
	font-size: 33px;
	color: #5ea2da;
	text-decoration: underline;
}
#container h3{
	font-size: 30px;
	color: #304390;
}
#container span{
	font-size: 15px;
}