<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<conferences>
		<conference name="wwww2012">
			<logoUri>http://data.semanticweb.org/images/logo_www2012.jpg</logoUri>
			<baseUri>http://data.semanticweb.org/</baseUri>
			 <confId>conference/www/2012</confId>
			 <tracks>
				    <track>
				        <name>Search all Papers</name>
				        <controller>publication</controller>
				        <trackId>/proceedings</trackId>
				    </track>
				    <track>
				        <name>Search a Poster track paper</name>
				        <controller>poster</controller>
				        <trackId>/poster/proceedings</trackId>
				    </track>
				    <track>
				        <name>Search a Developers track paper</name>
				        <controller>dev</controller>
				        <trackId>/dev/proceedings</trackId>
				    </track>
				    <track>
				        <name>Search a Demo track paper</name>
				        <controller>demo</controller>
				        <trackId>/demo/proceedings</trackId>
				    </track>
				    <track>
				        <name>Search a PhD symposium paper</name>
				        <controller>phd</controller>
				        <trackId>/phd/proceedings</trackId>
				    </track>
				    <track>
				        <name>Search a Industrial Practice and Experience paper</name>
				        <controller>industry</controller>
				        <trackId>/industry/proceedings</trackId>
				    </track>
	    	</tracks>
		</conference>
		<conference name="iswc2012">
			
			<logoUri>http://iswc2012.semanticweb.org/sites/default/files/iswc_logo.jpg</logoUri>
			<baseUri>http://data.semanticweb.org/</baseUri>
			<confId>conference/iswc/2012</confId>
			  <tracks>
				    <track>
				        <name>Search all Papers</name>
				        <controller>publication</controller>
				        <trackId>/proceedings</trackId>
				    </track>
				    <track>
				        <name>Search a Poster track paper</name>
				        <controller>poster</controller>
				        <trackId>/poster-demo-proceedings</trackId>
				    </track>
				    <track>
				        <name>Search a industry track paper</name>
				        <controller>industry</controller>
				        <trackId>/industry-proceedings</trackId>
				    </track>			  
		
	    	</tracks>
		</conference>
	</conferences>
	<datasources>
		<datasource name="conferenceDatasource">
			 <serviceUri>http://data.semanticweb.org/sparql</serviceUri> 
			 <sparqlVersion>1.0</sparqlVersion>
			 <managerName>SWDFManager</managerName>
			 <method>GET</method>
			 <dataType>XML</dataType>
			 <corsEnable>YES</corsEnable>
		</datasource>
		
		<datasource name="publicationDatasource">
			<serviceUri>http://dblp.l3s.de/d2r/sparql</serviceUri>
			<sparqlVersion>1.0</sparqlVersion>
			<managerName>DBLPManger</managerName>
			<method>GET</method>
			<dataType>JSONP</dataType>
			<corsEnable>NO</corsEnable>
		</datasource>
		
		<datasource name="webDatasource">
			<serviceUri>http://api.duckduckgo.com/</serviceUri>
			<sparqlVersion>?</sparqlVersion>
			<managerName>DuckDuckGoManager</managerName>
			<method>GET</method>
			<dataType>JSONP</dataType>
			<corsEnable>NO</corsEnable>
		</datasource>
		
		<datasource name="eventDatasource">
			<serviceUri>http://calendar.labs.idci.fr/api/schedule_event.jsonp?</serviceUri>
			<sparqlVersion>?</sparqlVersion>
			<managerName>EventCalendarManager</managerName>
			<method>GET</method>
			<dataType>JSONP</dataType>
			<corsEnable>NO</corsEnable>
		</datasource>	
	</datasources>
</configuration>