
body > div,section {
    background: #FFFFFF !important;
}
h2{
color:#DD1980
}

#container {
    height: 100%;
    position: relative;
}
#ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block; 
    z-index: 2; /* display */
}

.translateO{    
    -o-transform: translateX(100%);     
}

section > header, header{  
    height:119px;   
    background-color: #FFF;
}

/**
 * L'intégration supplementaire
 */

section > header.dialogSetting{   
    height:40px;   
    background-color: #FFF;
}

section > header.dialogSetting > h2 {   
    color: #FFF;   
}


section > header > span > a{
    display:block;
    height:115px;
    width: 160px !important;
    background:url(../images/logowww2012.png) no-repeat;
    background-color: #FFF !important;
}

article[wwww2012="poster"] > section > div{
    overflow-x: hidden !important;
}


article{
    margin-bottom: 10px !important;
}

article > section > div > span > a,article > section > div > div > a{
    text-decoration: none;
    color:#075CBA;
    font-weight:lighter;
    overflow-x: hidden;
}
article > section > div > span > a:hover ,article > section > div > div > a:hover{
    color:#3F97F8;
}

a.pdftag{
   color:#0449CA;
   text-decoration:underline;
}


.slidein {
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 350ms;
}

.si {
        -webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 350ms;
	-webkit-transform: translateX(0);
	-webkit-animation-name: sifr;
}


@-webkit-keyframes sifr {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes sifl {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(0); }
}



.show {
  display: block !important; 
  left:800px;
}


@media screen and (max-width: 310px) { 
    #infovis {   
        width:310px;
        height:310px;
        overflow:hidden;
    }
}


@media screen and (max-width: 330px) {    
    .banner{
        background:url(../images/logowww2012BIS.png) no-repeat !important;
        display : block !important;
    }    
}

@media screen and (max-width: 295px) {    
    .searchfield{
        width:150px !important;
    }      
}

@media screen and (max-width: 225px) {    
    .banner{        
        display : none !important;        
    }       
    .searchfield{
        width:100px !important;
    } 
}

h1{
    color: #304390;
    float: right;    
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    line-height: 88px;
    margin-top: 0;
    padding-right: 1%;
    position: absolute;
    right: 1px;
    top: -145px;    
}

div > h1 {
    color: #304390;
    float: right;
    font-size: 27px;
    font-weight: normal;
    line-height: 130px;
    text-align: center;
    margin-top: 0;
    padding-right: 1%;
    position: absolute;   
    top: -12px;
}

.searchPaper{
    width:220px;    
    height:31px;
    border: 1px solid #666666;
    line-height:35px;
    color:#9D9D9D;
    text-indent:11px;
    border-radius:5px 0 0 5px;
    -moz-border-radius:5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px; 
    float:left;
}


/*--------------------------------------
       SEARCH FORM @http://www.webdesignerwall.com/
-------------------------------------- */

.searchform {

	display: inline-block;	
	display: inline;
	border: solid 1px #d2d2d2;
	padding: 9px;
        height: 29px;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;

	-webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	box-shadow: 0 1px 0px rgba(0,0,0,.1);

	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie8 */
}
.searchform input {

        border-radius: 2em;
            
}
.searchform .searchfield {
	background: #fff;
	padding: 6px;
        /* width of form */
	width: 200px;  
      
        font-family: Myriad Pro;
	border: solid 1px #bcbbbb;
	outline: none;
        border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	font-size: 17px;
        


}

.searchform  .ui-autocomplete-input{
	background: #fff;
	padding: 6px;
	border: solid 1px #bcbbbb;
	outline: none;
        border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
}



.searchform .searchbutton {
	color: #fff;
	border: solid 1px #494949;
	font-size: 11px;
	height: 29px;
	width: 29px;
	text-shadow: 0 1px 1px rgba(0,0,0,.6);        
        border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;	
	background-color : #5f5f5f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));
	background-image: -moz-linear-gradient(top,  #9e9e9e,  #454545);	
        background-image: -ms-linear-gradient(top,#9e9e9e, #454545);        
        /* Opera */ 
        background-image: -o-linear-gradient(top, #9e9e9e, #454545);
        overflow: hidden;
}

/*
    Bottom footer
*/
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%; margin-top: 40px;}      
[data-role=footer].footerDialog{ position:relative !important; }

/**
    Graph
*/

#infovis {   
    width:450px;
    height:450px;
    overflow:hidden;
}

