<article id="home">	
	<section class="content">
		<h2>Search in conference proceedings</h2>
		<a href="#search/by-author/<%= conference.baseUri %>"  data-role="button" data-icon="arrow-r" data-iconpos="right">Search By Author</a>
		<a href="#search/by-keyword/<%= conference.baseUri %>" data-role="button" data-icon="arrow-r" data-iconpos="right">Search By Keyword</a>
		<a href="#search/by-title/<%= conference.baseUri %>"  data-role="button" data-icon="arrow-r" data-iconpos="right">Search By Title</a>
	</section>
</article>
