<article id="home">	
	<section class="content">
		<h2>Search in conference proceedings</h2>
		<a href="#proceedings-search/by-author"  data-role="button" data-icon="arrow-r" data-iconpos="right">Search By Author</a>
		<a href="#proceedings-search/by-keyword" data-role="button" data-icon="arrow-r" data-iconpos="right">Search By Keyword</a>
		<a href="#proceedings-search/by-title"  data-role="button" data-icon="arrow-r" data-iconpos="right">Search By Title</a>
		<h2>Browse conference tracks</h2>  
	</section>
</article>
