<!-- Search a publication  by Author,by Keyword,by Title... -->
<article id="proceedingsSearch"> 
	<section class="content">
		<h1 class="searchTrack"></h1>
		<ul class="list gradWhite">   
			<li><a href="#proceedings-search/by-author"  data-role="button" data-icon="arrow-r" data-iconpos="right">Search By Author</a></li>
			<li><a href="#proceedings-search/by-keyword" data-role="button" data-icon="arrow-r" data-iconpos="right">Search By Keyword</a></li>
			<li><a href="#proceedings-search/by-title"  data-role="button" data-icon="arrow-r" data-iconpos="right">Search By Title</a></li>
		</ul>
	</section>
</article>  